body{
	background:#f3f3f3;
}
.cont{
	width:80%;
	height:100px;
	margin:0px auto;
	color:red; 
	border-radius:20px;
	box-shadow:2px 2px 35px 1px #000; 
 }
 .vui-content{
 	width:80%;
 	margin:0px auto;
 	background:
 	box-shadow:2px 2px 5px 1px #000; 
 }
 .vui-content img{
 	max-width:100%;
 	margin:0px auto;
 }