--- 

title : "我是主页"

---

<!DOCTYPE html>
<html lang="en-us">
	{% include header.html %}

	<body>
		<section class="page-header">
			<h1 class="project-name">Heimao blog</h1>
			<h2 class="project-tagline">黑猫博客</h2>
			<a href="https://github.com/heimiao/heimao_blog" class="btn">View on GitHub</a>
			<!----
			<a href="https://github.com/heimiao/heimao_blog/zipball/master" class="btn">Download .zip</a>
			<a href="https://github.com/heimiao/heimao_blog/tarball/master" class="btn">Download .tar.gz</a>
			---->
		</section>
		<section class="main-content">  
			<body>
				<div class="cont">
					<ul>
						<li>
							<a href="{{site.url}}/static/loanStatistic/index.html">=====房贷统计====</a>
							<hr>
						</li> 
						<li>
							<a href="{{site.url}}/static/startingLine/index.html">======起跑线====</a>
							<hr>
						</li> 
						<li>
							<a href="{{site.url}}/static/myionic/www/index.html">Ionic使用demo</a>
							<hr>
						</li> 
						{% for post in site.posts %}
						<li>
							<a href="{{site.url}}{{post.url}}">{{post.date|date_to_string}} {{post.title}}{{page.date}}</a>
							<hr>
						</li> 
						{% endfor %}
					</ul>
				</div>
		</section>
		{% include footer.html %}
		</body>
</html>