--- 
title : "我是主页"
---

<!DOCTYPE html>
<html lang="en-us">
	{% include header.html %}

	<body>
		<section class="page-header">
			<h1 class="project-name">Heimao blog</h1>
			<h2 class="project-tagline">黑猫博客</h2>
			<a href="https://github.com/heimiao/heimao_blog" class="btn">View on GitHub</a>
			<a href="https://github.com/heimiao/heimao_blog/zipball/master" class="btn">Download .zip</a>
			<a href="https://github.com/heimiao/heimao_blog/tarball/master" class="btn">Download .tar.gz</a>
		</section>

		<section class="main-content">
			{% include header.html %}

			<body>
				<div class="cont">
					<ul>
						{% for post in site.posts %}
						<li>
							<a href="{{site.url}}{{post.url}}">{{post.date|date_to_string}} {{post.title}}{{page.date}}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
		</section>
		{% include footer.html %}
		</body>

</html>